<h1 class="h1-title">Bem-vindo ao website da Orapma. Consulte aqui o valor de sua ligação...</h1>

<form id="home-form">
    <legend class="text-center">Localidade</legend>
    <hr>
    <fieldset class="form-fd" id="fd-localidade">
        <div class="form-group row">
            <div class="col-12 col-md-2 offset-md-2">
                <label for="dddOrigem" class="label-font">DDD Origem</label>
            </div>
            <div class="col-12 col-md-2">
                <select name="dddOrigem" class="form-control" id="dddOrigem">
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                </select>
            </div>
            <div class="col-12 col-md-2">
                <label for="ddDestino" class="label-font">DDD Destino</label>
            </div>
            <div class="col-12 col-md-2">
                <select name="ddDestino" class="form-control" id="ddDestino">
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                </select>
            </div>
        </div>
    </fieldset>

</form>