@import "colors";

#header-navbar {
    background-color: $royal-purple;

    .navbar-content {
        display: flex;
    }

    #navbar-brand-font {
        font-size: 40px;
        font-weight: bold;
        color: $white;
        font-family: 'Maven Pro', sans-serif;
    }
}

@media (max-width: 740px) {
    .navbar-content {
        display: inline !important;
    }

    #header-navbar {
        position: relative;
        display: -webkit-box;

        #navbar-brand-font {
            font-size: 28px !important;
        }
    }

}