@import "bootstrap";
@import "colors";
@import "_header";
@import "home";
@import "_footer";
@import "iziToast";


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $royal-purple;
}

.master-container {
    background-color: $royal-purple;
    padding-left: 0;
    padding-right: 0;
}