.h1-title {
    color: $white;
    margin-top: 20px;
}

#h1-welcome {
    display: none;
    margin-top: 106px;
    font-size: 48px;
    padding: 15%;
}

#div-content {
    display: none;
    margin-top: 20px;
    background-color: $blackcurrant;
    padding-top: 1px;
    padding-bottom: 20px;
    max-height: 60%;

    legend {
        color: $white;
        margin-bottom: 0;
        font-size: 48px;
    }

    hr {
        border-top: 1px solid $white;
        width: 20%;
        margin-top: 2px;
    }

    .form-fd {
        margin-top: 20px;

        .row-content {
            margin-top: 50px;
            width: 100%;

            .col-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .button-row {
            margin-top: 50px;
            width: 100%;
            
            .btn-avancar {
                color: $blackcurrant;
            }
        }
    }

    .label-font {
        color: $white;
        font-size: 22px;
    }

    #fd-call {
        display: none;
    }
    
    #fd-plans {
        display: none;
    }

    #fd-loading {
        display: none;
    }

    #div-result {
        display: none;
        margin-top: 20px;
        width: 100%;

        .h3-result {
            color: $white;
            font-weight: bold;
        }

        .p-result {
            color: $white;
            font-weight: bold;
            font-size: 24px;
        }
    }

    #div-return {
        display: none;
        margin-top: 40px;
        width: 100%;
    }    
}

#plans{
    .plan-row {
        min-height: 150px;
        width: 100%;

        .plan-col {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;

            .plan-span {
                color: $deep-blush;
                font-weight: bold;
                font-size: 48px;
            }

            .plan-h2 {
                font-weight: bold;
                font-size: 48px;
            }
            .plan-p-text {
                margin: 0;
                font-size: 32px;
            }
        }
    }
}


@media (max-width: 740px) {
    #h1-welcome {
        margin-top: 106px;
        font-size: 48px;
        padding: 5%;
    }

    #div-content {
        .row {
            margin-right: 0;
            margin-left: 0;
        }

        hr {
            width: 80%;
        }

        #div-return {
            margin-top: 20px;
        }
    }

    #plans{
        .plan-row {
            .plan-col {    
                .plan-span {
                    color: $deep-blush;
                    font-weight: bold;
                    font-size: 38px;
                }
    
                .plan-h2 {
                    font-weight: bold;
                    font-size: 38px;
                }
                .plan-p-text {
                    margin: 0;
                    font-size: 22px;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .d-md-block {
        display: flex !important;
    }
}