<footer class="footer">
    <div class="row footer-row">
        <div class="col-12 col-md-6 footer-content-col">
            <p>Simplifique a sua comunicação. Ligue com a Orapma.</p>
        </div>
        <div class="col-12 col-md-6 footer-img-col">
            <%= image_tag 'iphone.png', alt: "", class: 'footer-img img-responsive'%>
        </div>
    </div>
</footer>