<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="header-navbar">
    <div class="mx-auto navbar-content">
        <%= link_to "Orapma", root_url, class: "navbar-brand font-color-white", id: "navbar-brand-font" %>
    </div>
</nav>